﻿html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    padding-top: 50px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}

.ace_gutter-cell.ace_breakpoint { 
    border-radius: 20px; 
    box-shadow: inset 0px 0px 2px 2px red;
    background: #f0d0d0;
}

.ace_step_debug {
    background: rgba(255, 255, 55, 0.7) !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}