﻿@using Microsoft.AspNet.Identity
@using rIdeal.WebApplication.DomainEntities
@{
    int numberUser = 1;
    ViewBag.Title = "Список пользователей";
}

<div class="container">
    <h2>Список пользователей</h2>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя пользователя</th>
                        <th colspan="3">Роль</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ApplicationUser user in ViewBag.Users)
                    {
                        var className = user.Id == User.Identity.GetUserId() ? "class=success" : "";

                        <tr @className>
                            <td>
                                @(numberUser++)
                            </td>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                @user.Roles.First().Name
                            </td>
                            <td class="col-md-2">
                                @Html.ActionLink("Редактировать", "Edit", "Users", new { userId = user.Id }, new { @class = "btn btn-default btn-block" })
                            </td>
                            <td class="col-md-2">

                                @if (string.IsNullOrEmpty(className))
                                {
                                    using (Html.BeginForm("Delete", "Users", FormMethod.Post))
                                    {
                                        @Html.Hidden("userId", user.Id)
                                        <input type="submit" class="btn btn-danger btn-block" value="Удалить" />
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
