﻿
<style>
    .registers {
        position: relative;
        top: 15px;
        padding: 15px
    }

    td {
        padding: 2px !important
    }

    .active {
        background-color: #428bca !important;
        color:white !important
    }

</style>

<div class="registers hidden" id="Registers" style="padding: 0 50px">
    <table class="table table-bordered text-center" style="padding:0px">
        <thead>
            <tr class="navbar-inverse">
                <td colspan="2">
                    <strong style="color: #eee">Регистры общего назначения</strong>
                </td>
            </tr>
        </thead>
        <tbody id="registers-cpu">
            <tr>
                <td colspan="2">
                    Разрядность(бит):  <div class="btn-group btn-group-xs" id="capacity">
                                           <button type="button" class="btn btn-default capacity-item" id="btn-cpu8">8</button>
                                           <button type="button" class="btn btn-default capacity-item" id="btn-cpu16">16</button>
                                           <button type="button" class="btn btn-default capacity-item" id="btn-cpu32">32</button>
                                           <button type="button" class="btn btn-default capacity-item" id="btn-cpu64">64</button>
                                       </div>
                </td>
            </tr>
            <tr style="background-color: #ccc">
                <td style="width: 40%">
                    Наименование
                </td>
                <td>
                    Значение
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered text-center" style="padding:0px">
        <thead>
            <tr class="navbar-inverse">
                <td colspan="2">
                    <strong style="color: #eee">Управляющие регистры</strong>
                </td>
            </tr>
        </thead>
        <tbody id="registers-ctrl">
            <tr style="background-color: #ccc">
                <td style="width: 40%">
                    Наименование
                </td>
                <td>
                    Значение
                </td>
            </tr>
        </tbody>
    </table>
</div>


