﻿@{
    ViewBag.Title = "Редактор кода";
}

<div class="row row-offcanvas row-offcanvas-right">

    <div role="navigation" class="col-sm-3">
        @Html.Partial("_RegistersPartial")
    </div>

    <div class="col-sm-6">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Список файлов</button>
        </p>
        <div class="hidden" id="editor-container" style="overflow-x: hidden">
            <div class="alert alert-info center-block text-center" style="  width: 480px;
                                                                            overflow-x: hidden;
                                                                            padding: 10px;
                                                                            border-color: slategrey;
                                                                            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(214, 214, 214, 0.6));">
                <strong id="alertCurrentFile" style="font-size: 17px"></strong>
            </div>
            <div class="center-block">
                <div class="form-group" style="margin: 5px">
                    <div class="btn-group btn-not-debugging">
                        <button type="button" class="btn btn-success" id="btn-start-debug" title="Запуск отладки (Ctrl-F9)">
                            <span class="glyphicon glyphicon-play"></span> Запуск
                        </button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" id="btn-compile">Cкомпилировать</a></li>
                        </ul>
                    </div>
                    
                    <div class="btn-group hidden btn-debugging-not-running">
                        <button type="button" class="btn btn-success" id="btn-continue-debug" title="Продолжить (F9)">
                            <span class="glyphicon glyphicon-play"></span> Продолжить
                        </button>
                    </div>
                    
                    <div class="btn-group hidden btn-debugging-all">
                        <button type="button" class="btn btn-default" id="btn-stop-debug" title="Остановить отладку (Shift-F9)"><span class="glyphicon glyphicon-stop" style="color: #b22222"></span></button>
                    </div>
                    <div class="btn-group hidden btn-debugging-not-running">
                        <button type="button" class="btn btn-default" id="btn-step-over-debug" title="Шаг с обходом (F7)"><span class="glyphicon glyphicon-share-alt"></span></button>
                    </div>
                    <div class="btn-group hidden btn-debugging-not-running">
                        <button type="button" class="btn btn-default" id="btn-step-into-debug" title="Шаг с заходом (F8)"><span class="glyphicon glyphicon-log-in"></span></button>
                    </div>
                </div>
                <hr style="margin-top: 5px; margin-bottom: 5px" />
                <div class="well" id="editor" style="height:450px;"></div>

                <ul class="nav nav-tabs" id="result-panel">
                    <li class="result-panel-item" id="result-btn"><a class="active" href="#">Результат</a></li>
                    <li class="result-panel-item" id="error-btn"><a href="#">Ошибки</a></li>
                </ul>
                <div class="well" style="height: 150px; overflow-y: auto; padding: 10px 0; border: 1px solid #428bca">
                    <ul id="result-compile"></ul>
                    <ol class="hidden" id="error-compile"></ol>
                </div>
            </div>
        </div>
    </div>

    <div role="navigation" id="sidebar" class="col-sm-offset-1 col-sm-2 sidebar-offcanvas" style="padding-left: 5px">
        @Html.Action("_ToolbarPartial", "FileManager")
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/aceEditor")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Scripts/ideal.api.js")
    @Scripts.Render("~/Scripts/ideal.editor.js")
    @Scripts.Render("~/Scripts/ideal.file-manager.js")
    @Scripts.Render("~/Scripts/ideal.registers.js")

    <script>
        $(function () {
            $(document).ready(function () {
                $('[data-toggle=offcanvas]').click(function () {
                    $('.row-offcanvas').toggleClass('active_offcanvas');
                });
            });
            $('#result-panel').on('click', '.result-panel-item', function () {
                $('.result-panel-item').children().removeClass('active');
                $(this).children().addClass('active');
                if (this.id == 'result-btn') {
                    $('#result-compile').removeClass('hidden');
                    $('#error-compile').addClass('hidden');
                } else {
                    $('#result-compile').addClass('hidden');
                    $('#error-compile').removeClass('hidden');
                }
            });
            api.init();
        });
    </script>
}
